@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 97%;
    --foreground: 210 11% 15%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;

    --popover: 228 33% 97%;
    --popover-foreground: 200 18% 26%;

    --primary: 0 0% 10%;
    --primary-foreground: 0 0% 40%;

    --secondary: 210 11% 15%;
    --secondary-foreground: 0 0% 100%;

    --muted: 210 11% 15%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 210 11% 15%;
    --accent-foreground: 0 0% 60%;

    --destructive: 0 57% 40%;
    --destructive-foreground: 0 57% 70%;

    --border: 240 5.9% 90%;
    --input: 0 0% 87%;
    --input-text: 0 0% 62%;
    --ring: 240 10% 3.9%;
    --icon: 224 21% 73%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
